<h2>Bucket Sort</h2>
<br />

<form ng-submit="bucketSortComp.calculate()">
  <div class="form-group">
    <label for="input">Space delimited list of integers:</label>
    <input class="form-control" name="input" ng-model="bucketSortComp.input" ng-change="bucketSortComp.calculate()" autofocus/>
  </div>
</form>

<h3 ng-show="bucketSortComp.answer">Sorted list of integers:</h3>
<div class="answer">[ <span ng-repeat="val in bucketSortComp.answer track by $index">{{val}}<span ng-if="$index<bucketSortComp.answer.length-1">, </span></span> ]</div>

<hr />

<button class="btn btn-default" type="button" data-toggle="collapse" data-target="#codeContent" aria-expanded="false" aria-controls="codeContent">
  Show Code
</button>
<div class="collapse" id="codeContent">
  <div class="well code-content">
    <code>
      <xmp>
    function bucketSort(a){
      var counts = [];
      a.forEach(function(num){
        if(!counts[num]){
          counts[num] = 1;
        } else{
          counts[num] +=1;
        }
      })
      a = [];
      for(i =0; i< counts.length; i++){
        if(counts[i] > 0){
          var numArray = Array(counts[i]).fill(i)
          a = a.concat(numArray);
        }
      }
      return a;
    };
      </xmp>
    </code>
  </div>
</div>
